{% import "./macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

{% markdown %}
The FT is compiling the [High-flyer’s Guide to Getting Ahead at Work](https://www.ft.com/content/935ae668-6b00-11e7-bfeb-33fe0c5b7eaa) to give readers career insights from the world’s most successful experts, executives and entrepreneurs.

We are continuing to build out the guide, and would love to hear from you about what topics it should address.

<iframe frameborder="0" width="100%" height="1150px" scrolling="no" allowtransparency="true" src="//financialtimes.polldaddy.com/s/getting-ahead-at-work?iframe=1"><a href="//financialtimes.polldaddy.com/s/getting-ahead-at-work">View Survey</a></iframe>

{% endmarkdown %}

{% endblock %}
